# Add any directories, files, or patterns you don't want to be tracked by version control

node_modules/
vendor/
e2e/
/.metadata/
/nbproject/private/
frontend/config/params-local.php
frontend/web/images/products/
frontend/web/images/categories/
frontend/web/images/news/
frontend/web/images/brands/
frontend/web/images/banners/
frontend/web/images/uploads/

frontend/config/main.php
frontend/config/params-local.php
files/
backend/config/main.php
backend/config/params-local.php
common/config/
tmp/
.idea/

frontend/web/images
frontend/web/images/logo.gif

.htaccess
.htpasswd
