.header-logo {
    font-weight: bold;
  font-size: 26px;
}

.widget-weather p {

  font-size: 10px;
}

.widget-weather .weather {

  margin-top: -5px;
}

.widget-weather p {

  margin-bottom: 6px;
  width: 60px !important;
}

h1, h2, h3, h4, h5, h6, a.read-more, .entry-meta, .readmore-btn, .widget-taber a.nav-link {

  font-family: 'Nunito', sans-serif;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  text-transform: normal;
}

.main-menu > li{padding:0 5px;}


.wp-block-quote.is-style-middle p{font-size:24px;line-height:1.2;font-style:normal;}

.news-text img {

  border-radius: 7px;

}

.widget_categories_2 li > a > span {

  margin-bottom: -8px !important;
}

.post-on {

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}


.no-border  td {

  border-color: transparent !important;
  border-width: 0px !important;
}


.tags-nav a.active, .tags-nav a:hover  {

  background: #ee4a5f !important;
  color: #fff !important;
}

.news-gallery img{

  left: 10px !important;
  margin-top: 5px !important;
}

.entry-main-content figure.alignright {

  margin-top: 0px !important;

}

li.disabled  span {

  font-size: 13px;
  display: block;
  margin-top: 8px !important;
  padding-right: 8px !important;
}

.moscow-menu {
  min-width: 270px !important;
}
.sub-menu {

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

}

.category-menu a {
  float: left;
  display: block;
  margin-bottom: 15px;
}
